@keyframes slideDown {
  0% {
    transform: translate3d(0, -80%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightingUp {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
