@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate3d(0, -80%, 0);
            transform: translate3d(0, -80%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translate3d(0, -80%, 0);
            transform: translate3d(0, -80%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: #FFFF;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
  height: 40px;
  width: 40px;
  background-color: antiquewhite;
  margin-right: 24px;
}

.brand {
  margin-left: 24px;
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #804FE8;
  text-shadow: 2px 2px 3px #E5E5E5;
  cursor: pointer;
}

.header-text {
  margin-right: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.header-text a {
  text-decoration: none;
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2f0981), to(#2f0981));
  background-image: linear-gradient(#2f0981, #2f0981);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
}

.header-text a:hover {
  background-size: 100% 2px;
  color: #2f0981;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}

.btn {
  margin-right: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #804FE8), color-stop(52%, #2f0981), to(#804FE8));
  background-image: linear-gradient(to right, #804FE8 20%, #2f0981 52%, #804FE8 100%);
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 1s;
  transition: 1s;
  padding: 10px 35px;
  border-radius: 25px;
}

.btn a {
  color: #FFFF;
  text-decoration: none;
}

.btn:hover {
  background-position: right center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.owl-stage-outer {
  height: 100%;
}

.owl-stage {
  height: 100%;
}

.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/carouselImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.wrapper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 70px;
}

.item-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  color: azure;
  text-align: center;
}

.item-side:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-side:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.item-side:nth-child(2) .btn {
  margin: 0 30px 15px 0;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  padding: 25px 55px;
  border-radius: 0;
  border: 1px solid #2f0981;
  background-image: none;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
}

.item-side:nth-child(2) .btn::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  height: 85px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -85px;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

.item-side:nth-child(2) .btn:hover {
  background-color: #2f0981;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item-side:nth-child(2) .btn:hover::before {
  left: 250px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.one-side {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.one-side .item-side {
  width: 50%;
}

.services {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
}

.wrapper-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-section {
  display: inline-block;
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}

.types-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 24px;
}

.name-column div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  background: linear-gradient(134.11deg, rgba(44, 39, 39, 0) 57.39%, #e5e5e5 90%), #c4c4c4;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: azure;
  font-size: 27px;
}

.description-service {
  margin: 24px 0 0 64px;
  list-style: none;
}

.description-service li {
  padding: 6px;
  cursor: pointer;
  font-size: 24px;
  margin-top: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description-service li:before {
  padding-right: 10px;
  font-weight: bold;
  color: #c0c0c0;
  content: "\2714";
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.description-service .selected::before,
.description-service li:hover:before {
  color: #804FE8;
  content: "\2714";
}

.companies {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden-description {
  display: none;
}

.open-description {
  display: block;
  margin: 18px 0 0 36px;
  -webkit-animation: slideDown 0.3s ease;
          animation: slideDown 0.3s ease;
}

@media only screen and (max-width: 1347px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .right-side {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */