@import "colors";
@import "keyframes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $body;
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: $white;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.header-side {
  display: flex;
  align-items: center;
}
.brand {
  margin-left: 24px;
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: $main;
  text-shadow: 2px 2px 3px $body;
  cursor: pointer;
}
.header-text {
  margin-right: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  a {
    text-decoration: none;
    color: black;
    background-image: linear-gradient($main-hover, $main-hover);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
  }
  a:hover {
    background-size: 100% 2px;
    color: $main-hover;
    transition: background-size 0.4s;
  }
}

.btn {
  margin-right: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  background-image: linear-gradient(
    to right,
    $main 20%,
    $main-hover 52%,
    $main 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 1s;
  padding: 10px 35px;
  border-radius: 25px;
  a {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-position: right center;
  }
}
.about {
  display: flex;
  width: 100%;
  height: 500px;
}
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
}
.owl-stage-outer {
  height: 100%;
}
.owl-stage {
  height: 100%;
}
.owl-item {
  display: flex;
  background-image: url("../img/carouselImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}
.wrapper-items {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 70px;
}
.item-side {
  display: flex;
  width: 50%;

  color: azure;
  text-align: center;
}
.item-side:nth-child(1) {
  align-self: center;
}
.item-side:nth-child(2) {
  align-self: flex-end;
  justify-content: flex-end;

  .btn {
    margin: 0 30px 15px 0;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    padding: 25px 55px;
    border-radius: 0;
    border: 1px solid $main-hover;
    background-image: none;
    background-color: transparent;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    position: relative;
  }
  .btn::before {
    content: "";
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.5)
    );
    height: 85px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -85px;
    transform: skewX(-45deg);
  }
  .btn:hover {
    background-color: $main-hover;
    transition: all 0.5s;
  }
  .btn:hover::before {
    left: 250px;
    transition: 0.5s ease-in-out;
  }
}
.one-side {
  justify-content: center;
  .item-side {
    width: 50%;
  }
}
.services {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
}
.wrapper-services {
  display: flex;
  padding: 50px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.title-section {
  display: inline-block;
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}
.types-services {
  display: flex;
  flex-direction: column;
}

.name-column {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 24px;
  div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    background: linear-gradient(
        134.11deg,
        rgba(44, 39, 39, 0) 57.39%,
        #e5e5e5 90%
      ),
      #c4c4c4;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: azure;
    font-size: 27px;
  }
}
.description-service {
  margin: 24px 0 0 64px;
  list-style: none;
  li {
    padding: 6px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    transition: 0.4s;
  }
  li:before {
    padding-right: 10px;
    font-weight: bold;
    color: #c0c0c0;
    content: "\2714";
    transition-duration: 0.5s;
  }
  li:hover:before {
    color: $main;
    content: "\2714";
  }
}
.companies {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hidden-description {
  display: none;
}
.open-description {
  display: block;
  margin: 18px 0 0 36px;
  animation: slideDown 0.3s ease;
}
