@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $body;
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapper {
  display: flex;
  width: 90%;
  height: 100%;
  background-color: $white;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.header-side {
  display: flex;
  align-items: center;
}
.brand {
  margin-left: 24px;
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: $main;
  text-shadow: 2px 2px 3px $body;
  cursor: pointer;
}
.header-text {
  margin-right: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  a {
    text-decoration: none;
    color: black;
    background-image: linear-gradient($main, $main);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
  }
  a:hover {
    background-size: 100% 2px;
    color: $main;
    transition: background-size 0.4s;
  }
}

.header-btn {
  margin-right: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  background-color: $main;
  padding: 5px 25px;
  border-radius: 15px;
  a {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    background-color: $main-hover;
    transition: all 0.3s;
  }
}
